---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="about">

      <h1>Acerca de...</h1>
      <p>
      Esta página está creada por Diego Gómez como ejemplo
      del trabajo que hay que ir haciendo poco a poco en nuestra
      web.
      </p>
   </BaseLayout>