---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
<h1>Plantas</h1>
<div class="list-of-arts">
  <div class="art-preview">
    <a href="/art">
      <div class="art-picture"> <img class="logo" src={Astro.resolve('../assets/planta1.svg')} /></div>
    </a>
    <div class="description">
    Foto de planta
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Foto de planta
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Foto de planta
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Foto de planta
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Foto de planta
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Foto planta
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
     Foto de planta 
    </div>
  </div>
</div>
</BaseLayout>
